<section fxFlex.xs="100%" fxFlex.md="100%" fxLayoutAlign="center" class="login" >
    <form   class ="form-class" fxLayout="column" fxLayoutAlign="center center " fxLayoutGap="10px" #f="ngForm" (ngSubmit)="Signin(f)" id="formulaire">
      <mat-form-field class="example-full-width">
        <input class="email" matInput placeholder="Email"  name="email" ngModel email required>
        <mat-error> E-mail invalid</mat-error>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Your password"  name="password" ngModel minlength="6" password required>
      <mat-error> password invalid</mat-error>
      </mat-form-field>
      <button  class="button-login" type="submit" mat-raised-button color="accent" >se connecter</button>
       <a routerLink="/Sign-up">vous n'avez pas encore de compte ?</a>
    </form>
    </section>