#sidebare{
    background: blueviolet;
}
.link{
    margin: 0%;
}
mat-sidenav-content,mat-sidenav,mat-sidenav-container{
    height: 100%;
}
#menub{
    cursor:pointer;
}
#a{
    text-decoration: none;
    color: white;
}
.navigation{
    list-style: none;
}
mat-sidenav{
    height: 2100%;
    width: 250px;
}
.span-nav{
    display: inline-block;
    padding-left: 6px;
}

